*{
  background-color: antiquewhite;
}
textarea{
  background-color: aliceblue;
  border: solid 2px black;
  padding: 4px;
  width:600px;
  height: 400px;
  margin-left:  auto;
  margin-right: auto;
  display: block;  
}
h1{
  text-align: center;
}
button{
  
  background-color: aliceblue;
  margin-top: 20px;
  margin-left:  auto;
  margin-right: auto;
  display: block;
  width: 300px;
  height: 50px;
}
p{
  padding:4px;
  border: solid 2px black;
  margin-left:  auto;
  margin-right: auto;
  display: block;
  width: 600px;
  background-color:  aliceblue;
}